<html>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>

<style type="text/css">
  body {
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type="text"] {
    font-size:22px
}

.navbar {
  margin-bottom: 20px;
  background-color: #0da6e8;
}
</style>

<body>
      <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #fff;" href="#">Kitabot</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<!--style>
    .wrapper { float: left; clear: left; display: table; table-layout: fixed; }
    img.img-responsive { display: table-cell; max-width: 100%; }
</style-->

<div class="wrapper col-md-3">
    <img class="img-responsive" src="/static/2016-1.jpg"/>
</div>

<form class="form-inline" required="true" action="/apps" method="POST">
    <textarea style="width:100%; background-color: #ffffff;" rows="10" name="result" disabled>bot > {{data}}</textarea>
    <br></br>
    <div class="form-group">
      <div class="input-group">
          <input  class="form-control" placeholder="your message here" type="text" style="width:100%;" required="true" rows="1" name="text" style="font-size: 30px;">{{html}} </input>
          <span class="input-group-btn"><button class="btn btn-default btn-success" type="submit">send</button>
          </span>
        </div>
      </div>
    </div>
</form>
</body>

<script type="application/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</html>
